/* Homepage */

.openingDiv {
	position: absolute;
	font-family: cursive;
	max-width: 50%;
	top: 30%;
	left: 70%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
  }
  
  .imageHome {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
  }

  
  .app-info {
	margin-top: 50px;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	padding: 5% 4%;
	border-bottom: 1px solid #ccc;
	color: rgb(255, 255, 255);
	background-color: rgb(227, 226, 222);
	width: 100%;
	justify-content: space-between; /* Align items to start and end of container */
  }
  
  .centered-text {
	flex: 0 0 4%; /* Adjust the width as needed */
	text-align: center;
	margin-top: 20px;
  }
  
  .image-montage {
	display: flex;
	align-items: flex-start;
	margin-left: 20px; /* Adjust margin to move it away from the left side */
	flex: 0 0 30%; /* Adjust the width as needed */
  }
  
  .montage-column,
  .montage-center {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px; /* Adjust margin to move it away from the left side */
  }
  
  .montage-image {
	width: 100px;
	height: 200;
  }
  
  /* Add media query for smaller screens if needed */
  @media only screen and (max-width: 768px) {
	.centered-text,
	.image-montage,
	.montage-column,
	.montage-center {
	  flex: 50 50 100%; /* Adjust the width to take full width on smaller screens */
	  
	}
  }
  
  
  .text-container {
	flex: 0 0 50%;
	margin-left: 20px;
	color: gray;
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	overflow-x: auto; /* Add horizontal scrollbar if content overflows */
  }
  
  .app-info h2 {
	font-size: 24px;
	margin-top: 0;
	font-weight: bold;
	white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
  
  .app-info h3 {
	font-size: 20px;
	margin-top: 20px;
	color: rgb(79, 70, 70);
  }
  
  .app-info ul {
	list-style: none;
	margin-top: 20px;
	margin-left: 50px;
  }
  
  .app-info li {
	margin-bottom: 100px;
	padding-right: 60px;
  }
  
  .videoglobe {
	margin-left: 0px;
  }
  

  .video-description-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 100px;
	list-style: none;
  }
  
  .video-description-list li {
	display: flex;
	align-items: center;
	margin-top: 30px;
  }
  
  .videoHome {
	max-width: 35%;
	border-radius: 40%;
	margin-right: 20px;
  }
  
  .testimonials {
	background-color: rgb(227, 226, 222);
	color: black;
	padding: 50px;
	font-size: 24px;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow-x: auto; /* Add horizontal scrollbar if content overflows */
	white-space: nowrap; /* Prevent testimonials from wrapping to the next line */
  }
  
  .testimonial-container {
	display: inline-flex; /* Display testimonials in a single line */
	gap: 20px; /* Adjust as needed */
	margin-top: 40px;
	box-sizing: border-box;
	overflow-x: auto; /* Add horizontal scrollbar if content overflows */
  }
  
  .testimonial {
	background-color: rgb(227, 226, 222);
	border-left: 1px solid white;
	border-right: 1px solid white;
	color: gray;
	border-radius: 20px; /* Reduced border-radius for a smaller look */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	padding: 10px; /* Reduced padding for a smaller look */
	text-align: center;
	margin-bottom: 20px; /* Adjusted bottom margin for less space after the last paragraph */
  }
  
  .testimonial p:last-child {
	margin-bottom: 0; /* Remove the bottom margin for the last paragraph in each testimonial */
  }
  
  .testImg {
	width: 50%; /* Adjusted the width for a smaller image */
	max-height: 200; /* Adjusted the max-height for a smaller image */
	border-radius: 10%;
	margin-left: 25%;
  }
  
  
  .testimonial p {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 20px;
	box-sizing: border-box;
  }
  
  .testimonial h4 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	box-sizing: border-box;
  }
  
  .testimonial h2 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 0;
	box-sizing: border-box;
  }

  
  .couple-sitting-container {
	position: relative;
	text-align: center;
	height: 200;
  }
  
  .download-now-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .download-now {
	display: flex;
	align-items: center;
	background-color: rgb(227, 226, 222);
	padding: 10px;
	border-radius: 8px;
  }
  
  .blank-box {
	width: 100px; /* Adjust the width as needed */
	height: 50px; /* Adjust the height as needed */
	background-color: white; /* Replace with Google Play logo or add a background image */
	margin-left: 10px; /* Add margin between "Download Now" and the blank box */
  }
  
  .social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: white;
  }
  
  .social-media a {
	margin: 0 10px;
	color: #000;
	font-size: 24px;
  }
  
  .social-media a:hover {
	color: #3b5998;
  }

  .custom-select select {
	background-color: black;
  }
  
  /* Dashboard */
  
  /* CSS for the container that holds the sidebar and recommended matches */
  
  .login {
	text-decoration: none;
  }
  
  .dashboard-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .dashboardDiv {
	position: absolute;
	margin: 100px;
	font-family: cursive;
	max-width: 100%;
	top: 140%;
	left: 30%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
  }
  
  .passportIconHeader {
	border-radius: 10%;
	max-width: 150px;
	border: 1px solid black;
	margin-right: 100%;
  }
  
  .content-container {
	margin-left: 20rem;
	background-color: #070607;
	color: white;
	width: 60%;
	opacity: 0.9;
	padding: 5%;
	margin-bottom: 200px;
	margin-top: 20px;
  }
  
  .link {
	list-style-type: none;
	color: white;
	font-size: 24px;
	text-decoration: none;
	margin-top: -20px;
	position: relative;
  }
  
  .link::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background-color: teal;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
  }
  
  .link:hover::after {
	transform: scaleX(1);
  }
  
  .link h6 {
	margin-bottom: 5px;
  }
  
  .message-board {
	margin-top: 3rem;
  }
  
  .linksContinent {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
  }
  
  .flag {
	position: absolute;
	z-index: -1;
	opacity: 0.4;
  }
  
  .flag-user-list {
	position: absolute;
	z-index: 0;
	opacity: 0.4;
  }
  
  .profileInfo {
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	background-color: #000000;
	margin-top: 10px;
	opacity: 0.9;
	color: white;
	display: flex;
	flex-direction: column;
  }
  
  .profileInfo h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .profileInfo p {
	font-size: 18px;
	margin-bottom: 5px;
  }
  
  .profileInfo p:first-of-type {
	margin-top: 0;
  }
  
  .profileInfo p:last-of-type {
	margin-bottom: 0;
  }
  
  .userImg {
	padding: 2%;
	width: 250px;
	height: 250px;
	border-radius: 25%;
  }
  
  .videoContainer {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .videoContainer h2 {
	margin-bottom: 10px;
  }
  
  video {
	width: 100%;
	max-width: 400px;
	height: auto;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
	.profileInfo {
	  flex-direction: column;
	  align-items: center;
	}
  
	.videoContainer {
	  margin-top: 20px;
	  align-items: center;
	  margin-left: 0;
	}
  
	.userImg {
	  margin-top: 20px;
	}
  }
  