
  
  //Write
  
          .add{
              margin-top: 20px;
              display: flex;
              gap: 20px;
              padding: 5%;
  
              .content{
                  flex:5;
                  display: flex;
                  flex-direction: column;
                  gap: 20px; 
  
  
                  input{
                      padding: 10px;
                      border: 1px solid rgb(135, 43, 43);
                         background-color: lightgray;
                  }
  
                  .editorContainer{
                      overflow: scroll;
                      border: 1px solid rgb(135, 43, 43);
                      background-color: lightgray;
                      height: 100%;
                  
                  }
              }   
  
              .menu{
                  flex:2;  
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  
  
                  .item{
                      border: 1px solid rgb(135, 43, 43);
                      padding: 20px;
                      flex:1;
                      flex-direction: column;
                      justify-content: space-between;
                      font-size: 12px;
                      color: black;
                      font-size: 14px;
                      background-color: lightgray;
                      
  
                      h1{
                          font-size: 20px;
                          color: black;
                      }
  
                      .file{
                          text-decoration: underline;
                          cursor: pointer;
                      }
  
                      .buttons{
                          display: flex;
                          padding-top: 5%;
                          justify-content: space-between;
  
                          :first-child{
                              cursor: pointer;
                              color: teal;
                              background-color: white;
                              border: 1px solid teal;
                              padding: 3px 5px;
                          }
  
                          :last-child{
                              cursor: pointer;
                              color: white;
                              background-color: teal;
                              border: 1px solid teal;
                              padding: 3px 5px;
                          }
                      }
  
                      .cat{
                          display: flex;
                          align-items: center;
                          gap: 2px;
                          color: teal;
                      }
  
                  }
              }  
          }
      
      
  
       .single{
              display: flex;
              gap: 50px;
  
              
          
              .content{
                  margin-left: 200px;
                  margin-top: 50px;
                  margin-bottom: 50px;
                  flex: 5;
                  display: flex;
                  flex-direction: column;
                  gap: 30px;
          
                  img{
                      width: 50%;
                      height: 300px;
                      object-fit: cover;
                      
                  }
          
                  .user{
                      display: flex;
                      align-items: center;
                      gap: 10px; 
                      font-size: 14px;
                      img{
                          width: 100px;
                          height: 100px;
                          border-radius: 50%;
                          object-fit: cover;
                      }
          
                      span{
                          font-weight: bold;
                      }
                  }
          
                  .edit{
                      display: flex;
                      gap: 5px;
          
                      img{
                          width: 2rem;
                          height: 30px;
                          cursor: pointer;
                          border: 2px solid teal;
                      }
                  }
          
                  h1{
                      font-size: 42px;
                      color: #333;
                  }
          
                  p{
                      text-align: justify;
                      line-height: 30px;
                  }
          
          
              }
              .menu{
                  flex: 2;
                  display: flex;
                  flex-direction: column;
                  gap: 25px;
                  margin-right: 150px;
                  
          
                  h1{
                      font-size: 20px;
                      color: #555;
                  }
          
                  .post{
                      display: flex;
                      flex-direction: column;
                      gap: 10px;
          
                      img{
                          width: 100%;
                          height: 200px;
                          object-fit: cover;
                      }
          
                      h2{
                          color: #555;
                      }
          
                      button{
                          width: max-content;
                          padding: 10px 20px;
                          border: none;
                          cursor: pointer;
                          background-color: white;
                          border: 1px solid teal;
                          color: teal;
          
                          &:hover{
                              border: 1px solid white;
                              background-color: teal;
                              color: black;
                          }
                      }
                  }
              }
       }
          

  .posts{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 100px;
      
  
      .post{
          display: flex;
          gap: 50px;
          border-top: 2px solid teal;
          padding: 5%;
  
          &:nth-child(2n+1){
              flex-direction: row-reverse;
          }
  
          .img{
              flex: 2;
              position: relative;
              
  
              &::after{
                  content: "";
                  width: 60%;
                  height: 100%;
                  background-color: rgb(15, 78, 87);
                  position: absolute;
                  top: 20px;
                  left: -20px;
                  z-index: -1;
                  
              }
  
              img{
                  width: 60%;
                  height: 100%;
                  object-fit: cover;
              }
          }
  
          .content{
              flex: 3;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
  
              h1{
                  font-size: 48px;
              }
  
              p{
                  font-size: 18px;
              }
  
              button{
                  width: max-content;
                  padding: 10px 20px;
                  border: none;
                  cursor: pointer;
                  background-color: white;
                  border: 1px solid teal;
                  color: teal;
  
                  &:hover{
                      border: 1px solid white;
                      background-color: teal;
                      color: black;
                  }
              }
          }
      }
  }
  